<div class="mb-2" *ngIf="isAddClient == false">
    <a class="btn btn-primary" (click)="toggleAddClient()">Dodaj nowego klienta</a>
</div>
<div class="mb-2" *ngIf="isAddClient == true">
    <a class="btn btn-primary" (click)="toggleAddClient()">Wróć</a>
</div>

<div *ngIf="isAddClient == true">
    <app-add-client>
    </app-add-client>
</div>


<form *ngIf="!isAddClient">
    <div class="border border-primary mb-2 p-1" *ngFor="let client of clients">
        <div class="row ml-2 mt-2 ">
            <div class="col-1">
                <label>Id</label>
                <input type="text" class="form-control mr-2" value="{{client.id}}" readonly>
            </div>
            <div class="col-2">
                <label>UserName</label>
                <input type="text" class="form-control mr-2" value="{{client.userName}}">
            </div>
            <div class="col-2">
                <label>Rola użytkownika</label>
                <input type="text" class="form-control mr-2" value="{{client.role.name}}">
            </div>
            <div class="col-2">
                <label>Imię</label>
                <input type="text" class="form-control mr-2" value="{{client.firstName}}">
            </div>
            <div class="col-2">
                <label>Nazwisko</label>
                <input type="text" class="form-control mr-2" value="{{client.lastName}}">
            </div>
            <div class="col">
                <br>
                <a (click)="showClient(client.id)" class="btn btn-primary mt-2 mb-2" *ngIf="!showClientsInfo">
                    Więcej
                </a>
            </div>
        </div>

        <div *ngIf="showClientsInfo == client.id">
            <div class="row ml-2 mt-2">
                <div class="col-3">
                    <label>Kraj</label>
                    <input type="text" class="form-control mr-2" value="{{client.address.country}}">
                </div>
                <div class="col-2">
                    <label>Kod pocztowy</label>
                    <input type="text" class="form-control mr-2" value="{{client.address.zipCode}}">
                </div>
                <div class="col-2">
                    <label>Miasto</label>
                    <input type="text" class="form-control mr-2" value="{{client.address.city}}">
                </div>
                <div class="col-2">
                    <label>Ulica</label>
                    <input type="text" class="form-control mr-2" value="{{client.address.street}}">
                </div>
                <div class="col-2">
                    <label>Nr. domu</label>
                    <input type="text" class="form-control mr-2" value="{{client.address.buildingNumber}}">
                </div>
            </div>
            <div class="row ml-2 mt-2">
                <div class="col-4">
                    <label>Email</label>
                    <input type="text" class="form-control mr-2" value="{{client.email}}">
                </div>
                <div class="col-4">
                    <label>Hash hasła</label>
                    <input type="text" class="form-control mr-2" value="{{client.passwordHash}}">
                </div>
                <div class="col-3">
                    <label>Dzień urodzin</label>
                    <input type="text" class="form-control mr-2" value="{{client.dateOfBirth}}">
                </div>
            </div>
            <div class="ml-4 g-2">
                <button type="submit" class="btn btn-primary mt-2 mb-2">Wyślij</button>
                <a class="btn btn-primary ml-2" (click)="closeClientInfo()">Zamknij</a>
            </div>

        </div>


    </div>
</form>