<div class="mb-2" *ngIf="isAddClient == false">
    <a class="btn btn-primary" (click)="toggleAddClient()">Dodaj nowego klienta</a>
</div>
<div class="mb-2" *ngIf="isAddClient == true">
    <a class="btn btn-primary" (click)="toggleAddClient()">Wróć</a>
</div>

<div *ngIf="isAddClient == true">
    <app-add-client>
    </app-add-client>
</div>


<form *ngIf="!isAddClient">
    <form *ngIf="!isAddClient">
        <div  *ngFor="let client of clients">
            <app-single-client [client]="client" (updateEvent)="updateClient($event)">       
            </app-single-client>
    </div>
</form>