<form [formGroup]="clientForm" (ngSubmit)="onSubmit(client.id, clientForm.value.userName, clientForm.value.password,
clientForm.value.email, clientForm.value.firstName, clientForm.value.lastName,
client.address.id, clientForm.value.addressZipCode, clientForm.value.addressCountry,
clientForm.value.addressStreet, clientForm.value.addressCity,
clientForm.value.addressBuildingNumber, clientForm.value.dateOfBirth)">
    <div class="border border-primary mb-2 p-1">
        <div *ngIf="client">
            <div class="row ml-2 mt-2">
                <div class="col">
                    <label>UserName</label>
                    <input type="text" class="form-control mr-2" formControlName="userName" [value]="client.userName">
                </div>
                <div class="col">
                    <label>Imię</label>
                    <input type="text" class="form-control mr-2" formControlName="firstName" [value]="client.firstName">
                </div>
                <div class="col">
                    <label>Nazwisko</label>
                    <input type="text" class="form-control mr-2" formControlName="lastName" [value]="client.lastName">
                </div>
            </div>
            <div class="row ml-2 mt-2">
                <div class="col">
                    <label>Kraj</label>
                    <input type="text" class="form-control mr-2" formControlName="addressCountry" [value]="client.address.country">
                </div>
                <div class="col">
                    <label>Kod pocztowy</label>
                    <input type="text" class="form-control mr-2" formControlName="addressZipCode" [value]="client.address.zipCode">
                </div>
                <div class="col">
                    <label>Miasto</label>
                    <input type="text" class="form-control mr-2" formControlName="addressCity" [value]="client.address.city">
                </div>
                <div class="col">
                    <label>Ulica</label>
                    <input type="text" class="form-control mr-2" formControlName="addressStreet" [value]="client.address.street">
                </div>
                <div class="col">
                    <label>Nr. domu</label>
                    <input type="text" class="form-control mr-2" formControlName="addressBuildingNumber" [value]="client.address.buildingNumber">
                </div>
            </div>
            <div class="row ml-2 mt-2">
                <div class="col">
                    <label>Email</label>
                    <input type="text" class="form-control mr-2" formControlName="email" [value]="client.email">
                </div>
                <div class="col">
                    <label>Hasło</label>
                    <input type="password" class="form-control mr-2" value="xxxxxx">
                </div>
                <div class="col">
                    <label>Dzień urodzin</label>
                    <input type="text" class="form-control mr-2" formControlName="dateOfBirth" [value]="client.dateOfBirth | date">
                </div>
            </div>
            <div class="ml-4 g-2">
                <button type="submit" class="btn btn-primary mt-2 mb-2">Zmień</button>
            </div>
        </div>
    </div>
</form>