<div class="d-flex justify-content-center">
    <h1>Rozgość się na naszej stronie!</h1>
</div>
<carousel>
    <slide>
        <img src="assets/hero1.png" alt="sirs slide" style="display: block;width: 100%;">
    </slide>
    <slide>
        <img src="assets/hero2.png" alt="sirs slide" style="display: block;width: 100%;">
    </slide>
    <slide>
        <img src="assets/hero3.png" alt="sirs slide" style="display: block;width: 100%;">
    </slide>
</carousel>
<section class="featured">

</section>