<form>
    <div class="border border-primary mb-2 p-2">
        <div class="row ml-2 mb-2">

            <div class="col-3">
                <label>Nazwa</label>
                <input type="text" class="form-control mr-2">
            </div>
            <div class="col-3">
                <label>Gatunek</label>
                <input type="text" class="form-control mr-2">
            </div>
        </div>
        <div class="row ml-2">
            <div class="col-3">
                <label>Cena</label>
                <input type="text" class="form-control mr-2">
            </div>
            <div class="col-3">
                <label>Ilość</label>
                <input type="text" class="form-control mr-2">
            </div>
            <div class="col-3">
                <label>Logo</label>
                <input type="text" class="form-control mr-2">
            </div>
        </div>
        <div class="row ml-2">
            <div class="col-9">
                <label>Opis:</label>
                <textarea class="form-control mr-2" rows="3"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col- 3 ml-4">
                <button type="submit" class="btn btn-primary mt-2 mb-2">Wyślij</button>
            </div>
        </div>
    </div>
</form>