<div class="text-center mb-5">

    <form class="needs-validation" [formGroup]="form" (submit)="register()" *ngIf="!registerSuccessed">
        <div class="row justify-content-center mb-5">
            <div class="col-12 ">
                <i class="fa fa-gamepad fa-5x"></i>
                <h1 class="display-5 mb-3 fw-normal" style="color:rgb(78, 158, 131)">Please sign up</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-lg-2"></div>
            <div class="col-md-8 col-lg-8">
                <h4 class="mb-3 text-left">Uzupełnij dane</h4>
                <div class="row g-3 mt-3">
                    <div class="col-sm-4">
                        <label for="userName" class="form-label">Nazwa użytkownika</label>
                        <input formControlName="userName" type="text" class="form-control" id="userName"
                            placeholder="UserName" value="" required>
                        <div class="alert alert-danger" *ngIf="userName.invalid && userName.touched">
                            Username need at leat 4 letters.
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label for="password" class="form-label">Hasło</label>
                        <input formControlName="password" type="password" class="form-control" id="password"
                            placeholder="Password" value="" required>
                        <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
                            Password need at leat 6 letters
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <label for="confirmPassword" class="form-label">Potwierdź hasło</label>
                        <input formControlName="confirmPassword" type="password" class="form-control"
                            id="confirmPassword" placeholder="Confirm Password" value="" required>
                        <div class="alert alert-danger" *ngIf="confirmPassword.invalid && confirmPassword.touched">
                            Password need at leat 6 letters
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label for="firstName" class="form-label">Imię</label>
                        <input formControlName="firstName" type="text" class="form-control" id="firstName"
                            placeholder="FirstName" value="" required>
                        <div class="alert alert-danger" *ngIf="firstName.invalid && firstName.touched">
                            First Name  is required.
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <label for="lastName" class="form-label">Nazwisko</label>
                        <input formControlName="lastName" type="text" class="form-control" id="lastName"
                            placeholder="LastName" value="" required>
                        <div class="alert alert-danger" *ngIf="lastName.invalid && lastName.touched">
                            Last Name is required.
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <label for="dateOfBirth" class="form-label">Data urodzenia</label>
                        <div class='input-group date' id="dateOfBirth">
                            <input type="date" formControlName="dateOfBirth" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <div class="alert alert-danger" *ngIf="dateOfBirth.invalid && dateOfBirth.touched">
                                Date of Birth is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input formControlName="email" type="email" class="form-control" id="email"
                            placeholder="yourEmail@example.com">
                        <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
                            Valid email is required.
                        </div>
                    </div>


                    <div class="col-md-3">
                        <label for="country" class="form-label">Kraj</label>
                        <select formControlName="country" class="form-select" id="country" required>
                            <option value="">Choose...</option>
                            <option>Poland</option>
                        </select>
                        <div class="alert alert-danger" *ngIf="country.invalid && country.touched">
                            Country is required.
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="city" class="form-label">Miasto</label>
                        <input formControlName="city" type="text" class="form-control" id="city" placeholder="City"
                            required>
                        <div class="alert alert-danger" *ngIf="city.invalid && city.touched">
                            City is required.
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="zipCode" class="form-label">Kod pocztowy</label>
                        <input formControlName="zipCode" type="text" class="form-control" id="zipCode"
                            placeholder="ZipCode" required>
                        <div class="alert alert-danger" *ngIf="zipCode.invalid && zipCode.touched">
                            Zip Code is required.
                        </div>
                    </div>

                    <div class="col-md-8">
                        <label for="street" class="form-label">Ulica</label>
                        <input formControlName="street" type="text" class="form-control" id="street"
                            placeholder="Street" required>
                        <div class="alert alert-danger" *ngIf="street.invalid && street.touched">
                            Street is required.
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="buildingNumber" class="form-label">Numer budynku</label>
                        <input formControlName="buildingNumber" type="number" class="form-control" id="buildingNumber"
                            placeholder="Building number" required>
                        <div class="alert alert-danger" *ngIf="buildingNumber.invalid && buildingNumber.touched">
                            BuildingNumber is required.
                        </div>
                    </div>
                </div>

                <hr class="mt-4">
                    <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="!buildingNumber.dirty || !street.dirty || !zipCode.dirty || !city.dirty
                    || !country.dirty || !email.dirty || !dateOfBirth.dirty || !lastName.dirty || !firstName.dirty || !confirmPassword.dirty || !password.dirty || !userName.dirty ">Sign up</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
            </div>
        </div>

    </form>

    <div *ngIf="registerSuccessed">
        <div class="row justify-content-center">
            <div class="col"><br><BR>
                <h1 class="text-success"><strong>Dziękujemy za rejestrację!</strong></h1>
                <h4>Teraz możesz się zalogować</h4>
                <a class="btn btn-primary btn-lg" (click)="redirectToLogin()">Zaloguj się</a>
            </div>
        </div>
    </div>
</div>