<div class="mb-2 mt-2 ml-2" *ngFor="let genre of genres">
    <form [formGroup]="genreForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-3">
                    <p>Kategoria:<strong> {{genre.name}}</strong></p>
            </div>
           
            <div class="col-3">
                    <input id="name" formControlName="name" placeholder='Rename "{{genre.name}}"' class="form-control-md" type="text">
            </div>
            <div class="col justify-content-left">
                <button class="button btn btn-outline-primary btn-sm ml-2" type="submit">Aktualizuj nazwę kategorii</button>
            </div>
        </div>
    </form>

</div>