<form [formGroup]="clientForm" 
(ngSubmit)="onSubmit(
clientForm.value.userName,
clientForm.value.password,
clientForm.value.confirmPassword,
clientForm.value.email,
clientForm.value.addressCountry,
clientForm.value.addressZipCode,
clientForm.value.addressCity,
clientForm.value.addressStreet,
clientForm.value.addressBuildingNumber,
clientForm.value.firstName,
clientForm.value.lastName,
clientForm.value.dateOfBirth,
clientForm.value.roleId
)">

<div class="border border-primary mb-2 p-1">
    <div class="row p-3 ">
        <div class="col-3">
            <label for="userName" class="form-label">UserName</label>
            <input type="text" formControlName="userName" class="form-control mr-2">
        </div>
        <div class="col-3">
            <label for="password" class="form-label">Hasło</label>
            <input type="password" formControlName="password" class="form-control mr-2">
        </div>
        <div class="col-3">
            <label for="confirmPassword" class="form-label">Potwierdź hasło</label>
            <input type="password" formControlName="confirmPassword" class="form-control mr-2">
        </div>
        <div class="col-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" formControlName="email" class="form-control mr-2" >
        </div>
    </div>


        <div class="row p-3">
            <div class="col-3">
                <label for="addressCountry" class="form-label">Kraj</label>
                <input type="text" formControlName="addressCountry" class="form-control mr-2" >
            </div>
            <div class="col-2">
                <label for="addressZipCode" class="form-label">Kod pocztowy</label>
                <input type="text" formControlName="addressZipCode" class="form-control mr-2" >
            </div>
            <div class="col-2">
                <label for="addressCity" class="form-label">Miasto</label>
                <input type="text" formControlName="addressCity" class="form-control mr-2">
            </div>
            <div class="col-3">
                <label for="addressStreet" class="form-label">Ulica</label>
                <input type="text" formControlName="addressStreet" class="form-control mr-2">
            </div>
            <div class="col-2">
                <label for="addressBuildingNumber" class="form-label">Nr. domu</label>
                <input type="number" formControlName="addressBuildingNumber" class="form-control mr-2">
            </div>
        </div>
        <div class="row p-3">

            <div class="col-3">
                <label for="firstName" class="form-label">Imię</label>
                <input type="text" formControlName="firstName" class="form-control mr-2" >
            </div>
            <div class="col-3">
                <label for="lastName" class="form-label">Nazwisko</label>
                <input type="text" formControlName="lastName" class="form-control mr-2" >
            </div>
            <div class="col-3">
                <label for="dateOfBirth" class="form-label">Data urodzenia</label>
                <div class='input-group date' id="dateOfBirth">
                    <input type="date" formControlName="dateOfBirth" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-3">
                <label for="roleId" class="form-label">Role Id</label>
                <input type="number" formControlName="roleId" class="form-control mr-2" >
            </div>
        </div>
        <div class="ml-4 g-2">
            <button type="submit" class="btn btn-primary mt-2 mb-2">Wyślij</button>
            
        </div>

    </div>

</form>