<form>
    <div class="border border-primary mb-2 p-1">
        <div class="row ml-2 mt-2 ">

            <div class="col-3">
                <label>UserName</label>
                <input type="text" class="form-control mr-2">
            </div>
            <div class="col-3">
                <label>Rola użytkownika</label>
                <input type="text" class="form-control mr-2">
            </div>
            <div class="col-3">
                <label>Imię</label>
                <input type="text" class="form-control mr-2">
            </div>
            <div class="col-3">
                <label>Nazwisko</label>
                <input type="text" class="form-control mr-2">
            </div>

        </div>


        <div class="row ml-2 mt-2">
            <div class="col-3">
                <label>Kraj</label>
                <input type="text" class="form-control mr-2">
            </div>
            <div class="col-2">
                <label>Kod pocztowy</label>
                <input type="text" class="form-control mr-2">
            </div>
            <div class="col-2">
                <label>Miasto</label>
                <input type="text" class="form-control mr-2">
            </div>
            <div class="col-3">
                <label>Ulica</label>
                <input type="text" class="form-control mr-2">
            </div>
            <div class="col-2">
                <label>Nr. domu</label>
                <input type="text" class="form-control mr-2">
            </div>
        </div>
        <div class="row ml-2 mt-2">
            <div class="col-4">
                <label>Email</label>
                <input type="text" class="form-control mr-2">
            </div>
            <div class="col-5">
                <label>Hasło</label>
                <input type="text" class="form-control mr-2">
            </div>
            <div class="col-3">
                <label>Dzień urodzin</label>
                <input type="text" class="form-control mr-2">
            </div>
        </div>
        <div class="ml-4 g-2">
            <button type="submit" class="btn btn-primary mt-2 mb-2">Wyślij</button>
        </div>
    </div>

</form>