<div class="card h-100 shadow-sm">
    <img src="{{product.imageURL}}" class="img-fluid bg-info">
    <div class="card-body d-flex flex-column">
        <a routerLink="/sklep/{{product.id}}">
            <h6 class="text-uppercase">{{ product.name }}</h6>
        </a>
        <span class="mb-2">{{ product.price | currency }}</span>
        <div class="btn-group mt-auto">
            <button type="button" class="btn btn-outline-secondary fa fa-shopping-cart mr-2"></button>
            <button routerLink="/sklep/{{product.id}}" type="button" class="btn btn-outline-secondary">Zobacz</button>
        </div>
        <small class="text-muted">9 mins</small>
    </div>
</div>