<div class="mb-2" *ngIf="isAddMode == false">
    <a class="btn btn-primary" (click)="toggleAddMode()">Dodaj nowy produkt</a>
</div>
<div class="mb-2" *ngIf="isAddMode == true">
    <a class="btn btn-primary" (click)="toggleAddMode()">Wróć</a>
</div>

<div *ngIf="isAddMode == true">
    <app-add-product></app-add-product>
</div>

<form *ngIf="isAddMode == false">
    <div class="border border-primary mb-2 p-2" *ngFor="let product of products">
        <div class="row ml-2 mb-2">
            <div class="col-3">
                <label>Id</label>
                <input type="text" class="form-control mr-2" value="{{product.id}}" readonly>
            </div>
            <div class="col-3">
                <label>Nazwa</label>
                <input type="text" class="form-control mr-2" value="{{product.name}}">
            </div>
            <div class="col-3">
                <label>Gatunek</label>
                <input type="text" class="form-control mr-2" value="{{product.genre}}">
            </div>
            <div class="col">
                <br>
                <a (click)="showProduct(product.id)" class="btn btn-primary mt-2 mb-2" *ngIf="!showProductInfo">
                    Więcej
                </a>
            </div>
        </div>

        <div *ngIf="showProductInfo == product.id">
            <div class="row ml-2">
                <div class="col-3">
                    <label>Cena</label>
                    <input type="number" class="form-control mr-2" value="{{product.price}}">
                </div>
                <div class="col-3">
                    <label>Ilość</label>
                    <input type="number" class="form-control mr-2" value="{{product.quantity}}">
                </div>
                <div class="col-3">
                    <label>Logo</label>
                    <input type="text" class="form-control mr-2" value="{{product.imageURL}}">
                </div>
            </div>
            <div class="row ml-2">
                <div class="col-9">
                    <label>Opis:</label>
                    <textarea class="form-control mr-2" rows="3" value="{{product.description}}"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col- 3 ml-4">
                    <button type="submit" class="btn btn-primary mt-2 mb-2">Wyślij</button>
                    <a class="btn btn-primary ml-2" (click)="closeProductInfo()">Zamknij</a>
                </div>
            </div>
        </div>
    </div>
</form>