<div class="mb-2" *ngIf="!isAddMode">
    <a class="btn btn-primary" (click)="toggleAddMode()">Dodaj nowy produkt</a>
</div>

<div class="mb-2" *ngIf="isAddMode">
    <a class="btn btn-primary" (click)="toggleAddMode()">Wróć</a>
    <app-add-product [genres]="genres" (newProduct)="addProduct($event)">
    </app-add-product>
</div>


<div *ngFor="let product of products">
    <app-single-product [product]="product" (updateEvent)="updateProduct($event)" [genres]="genres">
    </app-single-product>
</div>