<form>
    <div class="border border-primary mb-2" *ngFor="let product of products">
        <div class="row ml-2 mb-2">
            <div class="col">
                <label>Id</label>
                <input type="text" class="form-control mr-2" value="{{product.id}}">
            </div>
            <div class="col">
                <label>Nazwa</label>
                <input type="text" class="form-control mr-2" value="{{product.name}}">
            </div>
            <div class="col">
                <label></label>
                <a (click)="showProduct(product.id)" class="btn btn-primary mt-2 mb-2" *ngIf="!showProductInfo">
                    Pokaż
                </a>
            </div>
        </div>

        <div *ngIf="showProductInfo == product.id">
            <div class="row ml-2">
                <div class="col">
                    <label>Cena</label>
                    <input type="text" class="form-control mr-2" value="{{product.price}}">
                </div>
                <div class="col">
                    <label>Ilość</label>
                    <input type="text" class="form-control mr-2" value="{{product.quantity}}">
                </div>
            </div>

            <div class="ml-4">
                <button type="submit" class="btn btn-primary mt-2 mb-2">Submit</button>
                <a class="btn btn-primary ml-2" (click)="closeProductInfo()">Zamknij</a>
            </div>

        </div>


    </div>
</form>